<%- include('includes/header.ejs') %>


  <div class="editor__TopBar">
    <h4>NEWS</h4>
    <a class="btn btn-success" href="/newsForm">Add New Blog</a>
    <a class="btn btn-danger" href="/hub">Exit</a>
  </div>
  <div class="list__Container">
        <% for (let news of object) { %>
            <div class="list__Object">
                <div class="list__ObjectImage">
                    <img src="<%= news.imageLarge %>" alt="">
                    <div class="list__ObjectImageTall"><img src="<%= news.image %>" alt="">
                    </div>
                    <div class="list__Buttons">

                        <form action="updateNewsForm" method="post">
                            <input type="hidden" name="id" id="newsId" value="<%= news.id %>">
                            <button class="btn btn-success" type="submit">Edit</button>
                        </form>

                        <form action="deleteNewsForm" method="post">
                            <input type="hidden" name="id" id="newsId" value="<%= news.id %>">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>

                        
                    </div>
                </div>

                <div class="list__ObjectText">
                    <ul>
                        <li>KR Title: <%= news.titleKR %></li>
                        <li>ENG Title: <%= news.titleENG %></li>
                        <li>KR Blog: </li>
                        <li>
                            <p><%= news.bodyKR1 %></p>
                            <p><%= news.bodyKR2 %></p>
                            <p><%= news.bodyKR3 %></p>
                            <p><%= news.bodyKR4 %></p>
                            <p><%= news.bodyKR5 %></p>
                            <p><%= news.bodyKR6 %></p>
                            <p><%= news.bodyKR7 %></p>
                        </li>
                        <li>KR Date: <%= news.dateKR %></li>
                        <li>ENG Blog:</li>       
                        <li>
                            <p><%= news.bodyENG1 %></p>
                            <p><%= news.bodyENG2 %></p>
                            <p><%= news.bodyENG3 %></p>
                            <p><%= news.bodyENG4 %></p>
                            <p><%= news.bodyENG5 %></p>
                            <p><%= news.bodyENG6 %></p>
                            <p><%= news.bodyENG7 %></p>                 
                        <li>ENG Date: <%= news.dateENG %></li>
                    </ul> 
                    
                </div>
            </div>

        <% } %>
   </div>
          


</div>
<%- include('includes/end.ejs') %>
