<%- include('includes/header.ejs') %>


  <div class="editor__TopBar">
    <h4>NEWS</h4>
    <p>편집 내용이 표시되지 않으면 페이지를 새로고침하세요.</p>
    <a class="btn btn-success" href="/newsForm">Add New Blog</a>
    <a class="btn btn-danger" href="/hub">Exit</a>
  </div>
  <div class="list__Container">
        <% for (let news of object) { %>
            <div class="list__Object">
                <div class="list__ObjectImage">
                    <img src="<%= news.imageLarge %>" alt="">
                    <div class="list__ObjectImageTall"><img src="<%= news.image %>" alt="">
                    </div>
                    <div class="list__Buttons">

                        <form action="updateNewsForm" method="post">
                            <input type="hidden" name="id" id="newsId" value="<%= news.id %>">
                            <button class="btn btn-success" type="submit">Edit</button>
                        </form>

                        <form action="deleteNewsForm" method="post">
                            <input type="hidden" name="id" id="newsId" value="<%= news.id %>">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>

                        
                    </div>
                </div>

                <div class="list__ObjectText">
                    <ul>
                        <li>제목: <%= news.titleKR %></li>
                        <li>영어 제목: <%= news.titleENG %></li>
                        <li>블로그 콘텐츠: </li>
                        <li>
                            <% for (let paragraph of news.bodyKR) { %>
                            <p><%= paragraph %></p>
                            <% } %>
                        </li>
                        <li><%= news.dateKR %></li>
                        <li>블로그 영어 콘텐츠:</li>       
                        <li><% for (let paragraph of news.bodyENG) { %>
                            <p><%= paragraph %></p>
                            <% } %></li>                     
                        <li><%= news.dateENG %></li>
                    </ul> 
                    
                </div>
            </div>

        <% } %>
   </div>
          


</div>
<%- include('includes/end.ejs') %>
