<%- include('includes/header.ejs') %>


  <div class="editor__TopBar">
    <h4>NEWS</h4>
    <a class="btn btn-success" href="/update_imtv/newsForm">Add New Blog</a>
    <a class="btn btn-danger" href="/update_imtv/hub">Exit</a>
  </div>
  <div class="list__Container">
        <% for (let news of object) { %>
            <div class="list__Object">
                <div class="list__ObjectImage">
                    <img src="<%= news.imageLarge %>" alt="">
                    <div class="list__ObjectImageTall"><img src="<%= news.image %>" alt="">
                    </div>
                    <div class="list__Buttons">

                        <form action="/update_imtv/updateNewsForm" method="post">
                            <input type="hidden" name="id" id="newsId" value="<%= news.id %>">
                            <button class="btn btn-success" type="submit">Edit</button>
                        </form>

                        <form action="/update_imtv/deleteNewsForm" method="post">
                            <input type="hidden" name="id" id="newsId" value="<%= news.id %>">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>

                        
                    </div>
                </div>

                <div class="list__ObjectDetails">   
                    <div>
                        <ul>
                            <li>KR Title: <%= news.titleKR %></li>
                           
                            <li>KR Blog: </li>
                            <li><%= news.bodyKR1 %></li>
                            <li><%= news.bodyKR2 %></li>
                            <li><%= news.bodyKR3 %></li>
                            <li><%= news.bodyKR4 %></li>
                            <li><%= news.bodyKR5 %></li>
                            <li><%= news.bodyKR6 %></li>
                            <li><%= news.bodyKR7 %></li>
                        </ul>
                    </div className="list__ObjectDetailsTitle">
                                    
                        <p>KR Date: <%= news.dateKR %></p>
                    
                    <div>
                        <ul> 
                            <li>ENG Title: <%= news.titleENG %></li>
                            <li>ENG Blog:</li>       
                                <li><%= news.bodyENG1 %></li>
                                <li><%= news.bodyENG2 %></li>
                                <li><%= news.bodyENG3 %></li>
                                <li><%= news.bodyENG4 %></li>
                                <li><%= news.bodyENG5 %></li>
                                <li><%= news.bodyENG6 %></li>
                                <li><%= news.bodyENG7 %></li>                 
                            
                            
                            
                        </ul>
                    </div>
                    <div className="list__ObjectDetailsTitle">                     
                        <p>ENG Date: <%= news.dateENG %></p>  
                        <p><%= news.inProduction === '1' ? "IN PRODUCTION" : "Not set as In Production"%></p>
                    </div>

                    
                </div>
            </div>

        <% } %>
   </div>
          


</div>
<%- include('includes/end.ejs') %>
