<%- include('includes/header.ejs') %>


  <div class="editor__TopBar">
    <h4>STAFF</h4>
    <a class="btn btn-success" href="/staffForm">Add Staff Member</a>
    <a class="btn btn-danger" href="/hub">Exit</a>
  </div>
  <div class="list__Container">
    
        <% for (let staff of object) { %>
            <div class="list__Object">
                <div class="list__ObjectText">
                    <ul>
                        <li>설명: <%= staff.titleKR %></li>
                        <li>제목: <%= staff.titleENG %></li>
                        
                        <li>한국어 이름: <%= staff.nameKR %></li>
                        <li>영어 이름: <%= staff.nameENG %></li>
                        <li>한국어 정보: </li>
                        <ul>
                            <%for (let info of staff.infoKR.split('~')) {%>
                                <li><%= info %></li>
                            <%} %>
                            </ul>
                        <br>
                        <li>영어 정보: </li>
                        <ul>
                            <%for (let info of staff.infoENG.split('~')) {%>
                                <li><%= info %></li>
                            <%} %>
                        </ul>

                    </ul> 
     

                </div>
                <div class="list__ObjectUI"> 

                           <div class="list__ObjectUIButtons">
                                <form action="staffDirection" method="post" enctype="application/x-www-form-urlencoded">
                                    <button type="submit" class="btn btn-outline-secondary">
                                        <input type="hidden" name="upOneId" value="<%= staff.orderID %>">
                                        <input type="hidden" name="id"  value="<%= staff.id %>">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                                        </svg>UP ONE
                                    </button>
                                </form>
                           


                            </div>
                        
                    
                    
                            <div class="list__ObjectUIButtons">  
                                
                                <form action="updateStaffForm" method="post" enctype="application/x-www-form-urlencoded">
                                    <input type="hidden" name="id" id="staffId" value="<%= staff.id %>">
                                    <button class="btn btn-success" type="submit">Edit</button>
                                </form>  

                                <form action="deleteStaffForm" method="post" enctype="application/x-www-form-urlencoded">
                                    <input type="hidden" name="id" id="staffId" value="<%= staff.id %>">
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            
                            </div>


                            <div class="list__ObjectUIButtons">
                                <form action="staffDirection" method="post" enctype="application/x-www-form-urlencoded">
                                    <input type="hidden" name="downOneId" value="<%= staff.orderID %>">
                                    <input type="hidden" name="id" value="<%= staff.id %>">
                                    <button type="submit" class="btn btn-outline-secondary">DOWN ONE
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                    </button> 
                                </form>
                            </div>

                </div>
            </div>
        <% } %>
   </div>
          


</div>
<%- include('includes/end.ejs') %>
