<%- include('includes/header.ejs') %>


  <div class="editor__TopBar">
    <h4>STAFF</h4>
    <a class="btn btn-success" href="/staffForm">Add New</a>
    <a class="btn btn-danger" href="/hub">Exit</a>
  </div>
  <div class="list__Container">
    
        <% for (let staff of object) { %>
            <div class="list__Object">
                <div class="list__ObjectText">
                    <ul className="about__StaffList">
                        <li>KR Title: <%= staff.titleKR %></li>
                        <li>ENG Title : <%= staff.titleENG %></li>
                        
                        <li>KR Name: <%= staff.nameKR %></li>
                        <li>ENG Name: <%= staff.nameENG %></li>
                        <li>KR Details: </li>
                        <ul>
                            <li><%= staff.infoKR1 ? staff.infoKR1 : "" %></li>
                            <li><%= staff.infoKR2 ? staff.infoKR2 : "" %></li>
                            <li><%= staff.infoKR3 ? staff.infoKR3 : "" %></li>
                            <li><%= staff.infoKR4 ? staff.infoKR4 : "" %></li>
                            <li><%= staff.infoKR5 ? staff.infoKR5 : "" %></li>
                            <li><%= staff.infoKR6 ? staff.infoKR6 : "" %></li>
                            <li><%= staff.infoKR7 ? staff.infoKR7 : "" %></li>
                            <li><%= staff.infoKR8 ? staff.infoKR8 : "" %></li>
                            <li><%= staff.infoKR9 ? staff.infoKR9 : "" %></li>
                            <li><%= staff.infoKR10 ? staff.infoKR10 : "" %></li>
                        </ul>
                        <br>
                        <li>ENG Details: </li>
                        <ul>
                            <li><%= staff.infoENG1 ? staff.infoENG1 : "" %></li>
                            <li><%= staff.infoENG2 ? staff.infoENG2 : "" %></li>
                            <li><%= staff.infoENG3 ? staff.infoENG3 : "" %></li>
                            <li><%= staff.infoENG4 ? staff.infoENG4 : "" %></li>
                            <li><%= staff.infoENG5 ? staff.infoENG5 : "" %></li>
                            <li><%= staff.infoENG6 ? staff.infoENG6 : "" %></li>
                            <li><%= staff.infoENG7 ? staff.infoENG7 : "" %></li>
                            <li><%= staff.infoENG8 ? staff.infoENG8 : "" %></li>
                            <li><%= staff.infoENG9 ? staff.infoENG9 : "" %></li>
                            <li><%= staff.infoENG10 ? staff.infoENG10 : "" %></li>
                        </ul>

                    </ul> 
     

                </div>
                <div class="list__ObjectUI"> 
                            <div class="list__ObjectUIButtons">  
                                <form action="updateStaffForm" method="post" enctype="application/x-www-form-urlencoded">
                                    <input type="hidden" name="id" id="staffId" value="<%= staff.id %>">
                                    <button class="btn btn-success" type="submit">Edit</button>
                                </form>  

                                <form action="deleteStaffForm" method="post" enctype="application/x-www-form-urlencoded">
                                    <input type="hidden" name="id" id="staffId" value="<%= staff.id %>">
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </div>
                </div>
            </div>
        <% } %>
   </div>
          


</div>
<%- include('includes/end.ejs') %>
