<%- include('includes/header.ejs') %>

<div class="editor__TopBar">
  <h4>Staff - Update</h4>
  
</div>

<div class="form__Container">
  <form action="/postUpdateStaffForm" method="post" class="form">
    <input type="hidden" name="id" id="staffId" value="<%= object.id %>">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">KR Title</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="titleKR"
        aria-label="titleKR"
        aria-describedby="basic-addon1"
        name="titleKR"
        value="<%= object.titleKR %>"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">ENG Title</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="titleENG"
        aria-label="titleENG"
        aria-describedby="basic-addon1"
        name="titleENG"
        value="<%= object.titleENG %>"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">KR Name</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="nameKR"
        aria-label="nameKR"
        aria-describedby="basic-addon1"
        name="nameKR"
        value="<%= object.nameKR %>"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">ENG Name</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="nameENG"
        aria-label="nameENG"
        aria-describedby="basic-addon1"
        name="nameENG"
        value="<%= object.nameENG %>"
      />
    </div>

    <div class="center__Column">
      <h4>KR Resume</h4>
    </div>

    <div class="mb-3">
      <textarea
        name="1"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
        required
        value=
      ><%= object.infoKR1 %></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="2"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.infoKR2 %></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="3"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.infoKR3 %></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="4"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.infoKR4 %></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="5"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.infoKR5 %></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="6"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.infoKR6 %></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="7"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.infoKR7 %></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="8"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.infoKR8 %></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="9"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.infoKR9 %></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="10"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.infoKR10 %></textarea>
    </div>

    <div class="center__Column">
      <h4>ENG Resume</h4>
    </div>

    <div class="mb-3">
      <textarea
        name="11"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
        required
      ><%= object.infoENG1 %></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="12"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.infoENG2 %></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="13"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.infoENG3 %></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="14"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.infoENG4 %></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="15"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.infoENG5 %></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="16"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.infoENG6 %></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="17"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.infoENG7 %></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="18"
        class="form-control pb-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.infoENG8 %></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="19"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.infoENG9 %></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="20"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.infoENG10 %></textarea>
    </div>

    <div>
      <div class="center">
        
        <button type="submit" class="btn btn-success">Submit</button>
        <a class="btn btn-danger" href="/staff">Cancel</a>
      </div>
    </div>
  </form>
</div>

<%- include('includes/end.ejs') %>
