<%- include('includes/header.ejs') %>

<div class="editor__TopBar">
  <h4>News - 편집하다</h4>
  <p>블로그를 만들 때 이미지를 설정해야 합니다. 이미지를 변경하려면 이 블로그를 삭제하고 다시 시작하세요.</p>
  <p>'~' 문자이나 " " 문자이를 사용하지 마십시오.</p>
  
</div>
 
<div class="form__Container"> 
  <form action="/postUpdateNewsForm" method="post" class="form__News">


    <div class="mb-3 mt-3">
      <p>큰 이미지</p>
      <img class="workImageWide" src="<%= object.imageLarge %>" alt="<%= object.titleKR %>">
    </div>

  
    <div class="mb-3 mt-3">
      <p>작은 이미지: </p>
      <img class="workImageWide" src="<%= object.image %>" alt="<%= object.titleKR %>">
    <div>   
      

    <div class="input-group mt-3 mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">주요 제목</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="titleKR"
        aria-label="titleKR"
        aria-describedby="basic-addon1"
        name="titleKR"
        value = "<%= object.titleKR %>"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">영어로 주요 제목</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="제목을 입력"
        id="titleENG"
        aria-label="titleENG"
        aria-describedby="basic-addon1"
        name="titleENG"
        value = "<%= object.titleENG %>"
      />
    </div>
    <br />
    <div class="center__Column">
      <h4>한국어 블로그</h4>
      <p>블로그를 한국어로 써주세요.</p>
      <p>Use as many paragraphs as you need. Any empty paragraphs will be ignored.  </p>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 1</label>
      <textarea
        name="1"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.bodyKR[1] %></textarea>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 2</label>
      <textarea
        name="2"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.bodyKR[2] %></textarea>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 3</label>
      <textarea
        name="3"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.bodyKR[3] %></textarea>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 4</label>
      <textarea
        name="4"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.bodyKR[4] %></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 5</label>
      <textarea
        name="5"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.bodyKR[5] %></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 6</label>
      <textarea
        name="6"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.bodyKR[6] %></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 7</label>
      <textarea
        name="7"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.bodyKR[7] %></textarea>
    </div>

    <div class="center__Column">
      <h4>영어 블로그</h4>
      <p>블로그를 영어로 써주세요.</p>
      <p>Use as many paragraphs as you need. Any empty paragraphs will be ignored.  </p>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 1</label>
      <textarea
        name="8"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      > <%= object.bodyENG[1] %></textarea>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 2</label>
      <textarea
        name="9"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      > <%= object.bodyENG[2] %></textarea>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 3</label>
      <textarea
        name="10"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      > <%= object.bodyENG[3] %></textarea>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 4</label>
      <textarea
        name="11"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      > <%= object.bodyENG[4] %></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 5</label>
      <textarea
        name="12"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      > <%= object.bodyENG[5] %></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 6</label>
      <textarea
        name="13"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      > <%= object.bodyENG[6] %></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 7</label>
      <textarea
        name="14"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      > <%= object.bodyENG[7] %></textarea>
    </div>
    <input type="hidden" name="id" id="newsId" value="<%= object.id %>">
    <div>
      <div class="center">
        <button type="submit" class="btn btn-success">Submit</button>
        <a class="btn btn-danger" href="/news">Cancel</a>
      </div>
    </div>
  </form>
</div>

<%- include('includes/end.ejs') %>
