<%- include('includes/header.ejs') %>

<div class="editor__TopBar">
  <h4>Edit News</h4>
  <%- include('includes/tip.ejs') %>
</div>
 
<div class="form__Container"> 
  <form action="/postUpdateNewsForm" method="post" class="form__News">
    <div class="mb-3 mt-3">
      <p>Wide Image</p>
      <img class="workImageWide" src="<%= object.imageLarge %>" alt="<%= object.titleKR %>">
    </div>
    <div class="mb-3 mt-3">
      <p>Small Image (optional)</p>
      <img class="workImageWide" src="<%= object.image ? object.image : '' %>" >
    <div>   
      

    <div class="input-group mt-3 mb-3">
      <input
        type="text"
        class="form-control"
        id="titleKR"
        aria-label="titleKR"
        aria-describedby="basic-addon1"
        name="titleKR"
        value = "<%= object.titleKR %>"
      />
    </div>

    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="제목을 입력"
        id="titleENG"
        aria-label="titleENG"
        aria-describedby="basic-addon1"
        name="titleENG"
        value = "<%= object.titleENG %>"
      />
    </div>
    <br />
    <div class="center__Column">
      <h4>KR Blog</h4>
    </div>

    <div class="mb-3">
      <textarea
        name="1"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.bodyKR1 %></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="2"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.bodyKR2 %></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="3"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.bodyKR3 %></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="4"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.bodyKR4 %></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="5"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.bodyKR5 %></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="6"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.bodyKR6 %></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 7</label>
      <textarea
        name="7"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ><%= object.bodyKR7 %></textarea>
    </div>

    <div class="center__Column">
      <h4>영어 블로그</h4>
      <p>블로그를 영어로 써주세요.</p>
      <p>Use as many paragraphs as you need. Any empty paragraphs will be ignored.  </p>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 1</label>
      <textarea
        name="8"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      > <%= object.bodyENG1 %></textarea>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 2</label>
      <textarea
        name="9"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      > <%= object.bodyENG2 %></textarea>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 3</label>
      <textarea
        name="10"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      > <%= object.bodyENG3 %></textarea>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 4</label>
      <textarea
        name="11"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      > <%= object.bodyENG4 %></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 5</label>
      <textarea
        name="12"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      > <%= object.bodyENG5 %></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 6</label>
      <textarea
        name="13"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      > <%= object.bodyENG6 %></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 7</label>
      <textarea
        name="14"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      > <%= object.bodyENG7 %></textarea>
    </div>
    <div class="form-check ml-3" style="align-self:center">
      <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" name="inProduction">
      <label class="form-check-label" for="inProduction">
          In Production
      </label>
  </div>
    <input type="hidden" name="id" id="newsId" value="<%= object.id %>">
    <div>
      <div class="center">
        <button type="submit" class="btn btn-success">Submit</button>
        <a class="btn btn-danger" href="/news">Cancel</a>
      </div>
    </div>
  </form>
</div>

<%- include('includes/end.ejs') %>
