<%- include('includes/header.ejs') %>


    <div class="editor__TopBar">
        <h4>Work - 편집하다</h4>
        <p>블로그를 만들 때 이미지를 설정해야 합니다. 이미지를 변경하려면 이 블로그를 삭제하고 다시 시작하세요.</p>
    </div>

    <div class="form__Container">
        <form action="/editWorkForm" method="post" class="form">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">한국어 주요 제목</span>
                </div>
                <input type="text" class="form-control" placeholder="제목을 입력" id="titleKR"  aria-label="titleKR" aria-describedby="basic-addon1" name="titleKR" value = "<%= object.titleKR %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">한국어 설명</span>
                </div>
                <input type="text" class="form-control" placeholder="설명을 입력" id="descriptionKR"  aria-label="descriptionKR" aria-describedby="basic-addon1" name="descriptionKR" value = "<%= object.descriptionKR %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">채널</span>
                </div>
                <input type="text" class="form-control" placeholder="채널을 입력" id="channels"  aria-label="channels" aria-describedby="basic-addon1" name="channels" value = "<%= object.channels %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">감독</span>
                </div>
                <input type="text" class="form-control" placeholder="감독을 입력" id="directorKR"  aria-label="directorKR" aria-describedby="basic-addon1" name="directorKR" value = "<%= object.directorKR %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">작가</span>
                </div>
                <input type="text" class="form-control" placeholder="작가를 입력" id="writerKR"  aria-label="writerKR" aria-describedby="basic-addon1" name="writerKR" value = "<%= object.writerKR %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">배우</span>
                </div>
                <input type="text" class="form-control" placeholder="배우를 입력" id="starringKR"  aria-label="starringKR" aria-describedby="basic-addon1" name="starringKR" value = "<%= object.starringKR %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">영어 주요 제목</span>
                </div>
                <input type="text" class="form-control" placeholder="영어로 제목을 입력" id="titleENG"  aria-label="titleENG" aria-describedby="basic-addon1" name="titleENG" value="<%= object.titleENG %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">영어 설명</span>
                </div>
                <input type="text" class="form-control" placeholder="영어로 설명을 입력" id="descriptionENG"  aria-label="descriptionENG" aria-describedby="basic-addon1" name="descriptionENG" value="<%= object.descriptionENG %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">영어 감독</span>
                </div>
                <input type="text" class="form-control" placeholder="영어로 감독을 입력" id="directorENG"  aria-label="directorENG" aria-describedby="basic-addon1" name="directorENG" value="<%= object.directorENG %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">영어 작가</span>
                </div>
                <input type="text" class="form-control" placeholder="영어로 작가를 입력" id="writerENG"  aria-label="writerENG" aria-describedby="basic-addon1" name="writerENG" value="<%= object.writerENG %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">영어 배우</span>
                </div>
                <input type="text" class="form-control" placeholder="영어로 배우를 입력" id="starringENG"  aria-label="starringENG" aria-describedby="basic-addon1" name="starringENG" value="<%= object.starringENG %>">
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">비디오 예고편 (유튜브 링크)</span>
                </div>
                <input type="text" class="form-control" placeholder="링크를 입력" id="fullVid"  aria-label="fullVid" aria-describedby="basic-addon1" name="fullVid" value="<%= object.starringENG %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">10초 비디오 클립 (유튜브 링크)</span>
                </div>
                <input type="text" class="form-control" placeholder="링크를 입력" id="clipVid"  aria-label="clipVid" aria-describedby="basic-addon1" name="clipVid" value="<%= object.clipVid %>">
            </div>

            <div class="mb-3 mt-3">
                <label for="formFile" class="form-label">세로 이미지 업로드</label>
                <input class="form-control" type="file" id="formFile" name="workImgTall" value="<%= object.workImgTall %>">
            <div>   
                
            <div class="mb-3 mt-3">
                <label for="formFile" class="form-label">가로 이미지 업로드</label>
                <input class="form-control" type="file" id="formFile" name="workImg" value="<%= object.workImg %>">>
                <input type="hidden" name="id" id="newsId" value="<%= object.id %>">
            </div>
            <div>  
                <div class="center">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a class="btn btn-danger" href="/work">Cancel</a>
                </div>
            </div>
        </form>
    </div>



<%- include('includes/end.ejs') %>
