<%- include('includes/header.ejs') %>


    <div class="editor__TopBar">
        <h4>Edit Work</h4>
        <%- include('includes/tip.ejs') %>
    </div>

    <div class="form__Container">
        <form action="/update_imtv/postUpdateWorkForm" method="post" class="form" enctype="multipart/form-data">
            <div class="mb-3 mt-3">
                <p>Wide Image</p>
                <img class="workImageWide" src="<%= object.image %>" alt="<%= object.titleKR %>">

                <p class="m-1">Current URL: <%= object.image %> </p>
            </div>
            
            
            <div class="mb-3 mt-3">
                <label for="formFile" class="form-label">Upload New Wide Image File</label>
                <input class="form-control" type="file" id="formFile" name="image">
                <input type="hidden" name="oldImage" value="<%= object.image %>">
            <div>    

                

            <div class="mb-3 mt-3">
                <p>Tall Image</p>
                <img class="workImageTall" src="<%= object.imageTall %>" alt="<%= object.titleKR %>">

                <p class="m-1">Current URL: <%= object.imageTall %> </p> 
            <div>   
           <div class="mb-3 mt-3">
                <label for="formFile" class="form-label">Upload New Tall Image File</label>
                <input class="form-control" type="file" id="formFile" name="imageTall">
                <input type="hidden" name="oldImageTall" value="<%= object.imageTall %>">
            </div> 

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">KR Title</span>
                </div>
                <input type="text" class="form-control"  id="titleKR"  aria-label="titleKR" aria-describedby="basic-addon1" name="titleKR" value = "<%= object.titleKR %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Release Date</span>
                </div>
                <input type="text" class="form-control"  id="releaseDate"  aria-label="releaseDate" aria-describedby="basic-addon1" name="releaseDate" value = "<%= object.releaseDate %>">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"><span class="input-group-text" id="basic-addon1">KR Description</span></label>
                <textarea
                  name="descriptionKR"
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                ><%= object.descriptionKR %></textarea>
              </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Channels</span>
                </div>
                <input type="text" class="form-control"  id="channels"  aria-label="channels" aria-describedby="basic-addon1" name="channels" value = "<%= object.channels %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">KR Producer</span>
                </div>
                <input type="text" class="form-control" id="producerKR"  aria-label="producerKR" aria-describedby="basic-addon1" name="producerKR" value = "<%= object.producerKR %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">KR Writer</span>
                </div>
                <input type="text" class="form-control" id="writerKR"  aria-label="writerKR" aria-describedby="basic-addon1" name="writerKR" value = "<%= object.writerKR %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">KR Starring</span>
                </div>
                <input type="text" class="form-control" id="starringKR"  aria-label="starringKR" aria-describedby="basic-addon1" name="starringKR" value = "<%= object.starringKR %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">ENG Title</span>
                </div>
                <input type="text" class="form-control" id="titleENG"  aria-label="titleENG" aria-describedby="basic-addon1" name="titleENG" value="<%= object.titleENG %>">
            </div>


                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"><span class="input-group-text" id="basic-addon1">ENG Description</span></label>
                    <textarea
                      name="descriptionENG"
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="3"
                    ><%= object.descriptionENG %></textarea>
                  </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">ENG Producer</span>
                </div>
                <input type="text" class="form-control" id="producerENG"  aria-label="producerENG" aria-describedby="basic-addon1" name="producerENG" value="<%= object.producerENG %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">ENG Writer</span>
                </div>
                <input type="text" class="form-control" id="writerENG"  aria-label="writerENG" aria-describedby="basic-addon1" name="writerENG" value="<%= object.writerENG %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">ENG Starring</span>
                </div>
                <input type="text" class="form-control"  id="starringENG"  aria-label="starringENG" aria-describedby="basic-addon1" name="starringENG" value="<%= object.starringENG %>">
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Main Video Link</span>
                </div>
                <input type="text" class="form-control"  id="fullVid"  aria-label="fullVid" aria-describedby="basic-addon1" name="fullVid" value="<%= object.fullVid %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Carousel Video Link (Optional)</span>
                </div>
                <input type="text" class="form-control" id="clipVid"  aria-label="clipVid" aria-describedby="basic-addon1" name="clipVid" value="<%= object.clipVid %>">
            </div>
            <div class="input-group mb-3">

                <div class="input-group mb-3">

    
                    <div class="form-check" style="align-self:center">

                        <p>In Production: <%= object.inProduction === "1" ? "Set" : "Not Set"%></p>

                        <input class="form-check-input ml-2" type="checkbox" value="1" id="flexCheckChecked" name="inProduction">
                        <label class="form-check-label ml-5" for="inProduction">
                            Set In Production
                        </label>
                    </div>
                </div>
    
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">In Production KR Sub Title</span>
                    </div>
                    <input type="text" class="form-control"  id="subTitleKR"  aria-label="subTitleKR" aria-describedby="basic-addon1" name="subTitleKR" value=" <%= object.subTitleKR %>">
                </div>
    
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">In Production ENG Sub Title</span>
                    </div>
                    <input type="text" class="form-control"  id="subTitleENG"  aria-label="subTitleENG" aria-describedby="basic-addon1" name="subTitleENG" value=" <%= object.subTitleENG %>">
                </div>
    

            </div>
            <div class="mb-3">   
                <p> Current Font Color: <%= object.color %></p>
                <label for="color" class="form-label">New Font Color</label>
                <input type="text" name="color" class="form-control form-control-color" id="exampleColorInput" value="<%= object.color %>" title="Font color" required>
            </div>
            <div class="mb-3">
                <p> Current Background Color: <%= object.backgroundColor %></p>
                <label for="backgroundColor" class="form-label">New Background Color</label>
                <input type="text" name="backgroundColor" class="form-control form-control-color" id="exampleColorInput" title="Background color" value=" <%= object.backgroundColor %>">
            </div>

            <div>   
                <div class="center">
                    <input type="hidden" name="id"  value="<%= object.id %>">
                    <input type="hidden" name="orderID" value="<%= object.orderID %>">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a class="btn btn-danger" href="/update_imtv/work">Cancel</a>
                </div>
            </div>
        </form>
    </div>



<%- include('includes/end.ejs') %>
