<%- include('includes/header.ejs') %>

  <div class="editor__TopBar">
    <h4>WORK</h4>
    <p>Be sure to reset the order before moving items up and down.</p>
    <a class="btn btn-info" href="/update_imtv/resetWorkOrder">Reset Order</a>
    <a class="btn btn-success" href="/update_imtv/workForm">Add New</a>
    <a class="btn btn-danger" href="/update_imtv/hub">Exit</a>
  </div>
  <div class="list__Container">
    
        <% for (let work of object) { %>
            
            <div class="list__Object">
                <div class="list__ObjectImage">
                    <img src="<%= work.image %>" alt="">
                    <div class="list__ObjectImageTall"><img src="<%= work.imageTall %>" alt="<%= work.titleKR %>"></div>

                </div>

                <div class="list__ObjectText">
                    <ul>
                        <li>KR Title: <%= work.titleKR %></li>
                        <li>KR Description: <%= work.descriptionKR %></li>
                        <li>KR Channels: <%= work.channels %></li>
                        <li>KR Release Date: <%= work.releaseDate %></li>
                        <li>KR Producer: <%= work.producerKR %></li>
                        <li>KR Writer: <%= work.writerKR %></li>
                        <li>KR Starring: <%= work.starringKR %></li>
                        
                        <li>ENG Title: <%= work.titleENG %></li>
                        <li>ENG Description: <%= work.descriptionENG %></li>
                        <li>ENG Producer: <%= work.producerENG %></li>
                        <li>ENG Writer: <%= work.writerENG %></li>
                        <li>ENG Starring: <%= work.starringENG %></li>
                        <br />
                        <li>Trailer Link: <a href="<%= work.fullVid %>"><%= work.fullVid ?  work.fullVid : null %></a> </li>
                        <li>Carousel Trailer Link: <a href="<%= work.clipVid %>"><%= work.clipVid ? work.clipVid: null %></a></li>
                        <br />
                        <li><%= work.inProduction === "1" ? "IN PRODUCTION" : "Not set as In Production"%></li>
                    </ul> 
     

                </div>
                <div class="list__ObjectUI "> 

                           <div class="list__ObjectUIButtons">
                                <form action="workDirectionUp" method="post"  enctype="application/x-www-form-urlencoded">
                                    <button type="submit" class="btn btn-outline-secondary center">
                                        <input type="hidden" name="id"  value="<%= work.id %>">
                                        <input type="hidden" name="orderID"  value="<%= work.orderID %>">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="12" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                                        </svg>Up
                                    </button>
                                </form>
                           

                           
                            </div>
                        
                    
                    
                            <div class="list__ObjectUIButtons">  
                                
                                <form action="/update_imtv/updateWorkForm" method="post">
                                <input type="hidden" name="id" id="workId" value="<%= work.id %>">
                                <button class="btn btn-success" type="submit">Edit</button>
                                </form>  

                                <form action="/update_imtv/deleteWorkForm" method="post">
                                    <input type="hidden" name="id" id="workId" value="<%= work.id %>">
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            
                            </div>


                            <div class="list__ObjectUIButtons">
                                <form action="workDirectionDown" method="post" enctype="application/x-www-form-urlencoded">
                                    <button type="submit" class="btn btn-outline-secondary">
                                        <input type="hidden" name="id"  value="<%= work.id %>">
                                        <input type="hidden" name="orderID" value="<%= work.orderID %>">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="12" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                            </svg>Down
                                    </button>
                                </form>

                            
                            </div>

                </div>
            </div>
        <% } %>
   </div>
          


</div>
<%- include('includes/end.ejs') %>
